body{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	font-family: arial;
}

header{min-height:55px;}
footer{min-height:55px;}
main{flex: 1;}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
}

#menu{
	display: flex;
	width: 60%;	
	justify-content: space-between;
	align-items: center;
}

#logo{
	width: 30%;
	margin: 0 auto;
}


nav{
	display: flex;
	margin-right: 10px;
	justify-content: center;
	align-items: center;
}

button {
	display: flex;
	background: black;
	color: white;
	font-weight: bol;
	border: none;
	padding: 0px 5px;
	cursor: pointer;
}

nav > button:hover{
	color: #33cc00;
}

#carrinho{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1vw;
}

#basket{
	background: url('assets/img/carrinho.png');
	margin-left: 0.2vw;
	width: 25px;	
}

main{
	display: flex;
	width: 60%;	
	margin: 0 auto;	
	align-self: center;
	background: lightgray;
}

footer{
	display: flex;	
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
}