body{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	font-family: arial;
}

header{min-height:60px;}
footer{min-height:60px;}
main{flex: 1;}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
}

#menu{	
	display: flex;
	width: 60%;	
	justify-content: space-between;
	align-items: center;
}

#logo{
	width: 25%;
}


nav{
	display: flex;	
	
}

nav > button {
	background: black;
	color: white;
}

#carrinho{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1vw;
}

#basket{
	background: url('assets/img/carrinho.png');
	margin-left: 0.2vw;
	width: 25px;	
}

main{
	display: flex;
	width: 60%;	
	margin: 0 auto;	
	align-self: center;
	background: lightgray;
}

footer{
	display: flex;	
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
}